.body-container {
	flex: 0.8;
	min-height: 100vh;
	background: linear-gradient(rgba(91, 87, 115), rgba(0, 0, 0, 1));
	padding: 1.5em;
}

.body-discover {
	margin-top: 2em;
}

.discover-img {
	margin: 0 1.25em;
	box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
	aspect-ratio: 4/4;
	object-fit: contain;
	max-width: 200px;
}

.discover-text {
	justify-content: flex-end;
	margin-left: 0.75em;
}

.discover-text > p {
	padding-bottom: 0.5em;
	color: rgba(255, 255, 255, 0.7);
}

.discover-text > h3 {
	font-size: 48px;
	padding-bottom: 0.25em;
}

.body-songs {
	margin: 3em 0 2em 2em;
}

.songs-icons {
	margin: 2em;
}

.songs-icons > svg {
	font-size: 40px;
	margin-right: 0.5em;
}
