.sidebar-container {
	min-height: 100vh;
	border: solid 1px #333;
	flex: 0.2;
	min-width: 230px;
	background-color: #040404;
	padding: 0 1em;
}

.logo {
	object-fit: contain;
	height: 70px;
	width: 100%;
	text-align: center;
}

.sidebar-item {
	margin-top: 2.5em;
}

.sidebar-title {
	padding-left: 0.75em;
	font-size: 12px;
}

.sidebar-item hr {
	border: 1px solid #282828;
	width: 90%;
	margin: 0.75em auto;
}
