.login-container {
	display: grid;
	place-items: center;
	min-height: 100vh;
}

.login-container > img {
	width: 68%;
}

.login-container > a {
	padding: 20px;
	border-radius: 99px;
	background-color: #1db954;
	font-weight: 800;
	color: white;
	text-decoration: none;
}

@media only screen and (min-width: 992px) {
	.login-container > img {
		max-width: 40%;
	}
}
